USE [master]
GO
/****** Object:  Database [PR14_Cinema]    Script Date: 27.03.2026 14:57:41 ******/
CREATE DATABASE [PR14_Cinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PR14_Cinema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER_MY\MSSQL\DATA\PR14_Cinema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PR14_Cinema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER_MY\MSSQL\DATA\PR14_Cinema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PR14_Cinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PR14_Cinema]
GO
/****** Object:  Table [dbo].[Age_Rating]    Script Date: 27.03.2026 14:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Age_Rating](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Min_Age] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Age_Rating] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 27.03.2026 14:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Age_Rating_ID] [int] NOT NULL,
	[Rating] [decimal](5, 2) NOT NULL,
	[Image_path] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Start_date] [datetime] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film_Genre]    Script Date: 27.03.2026 14:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film_Genre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Film_ID] [int] NOT NULL,
	[Genre_ID] [int] NOT NULL,
 CONSTRAINT [PK_Film_Genre] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 27.03.2026 14:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kinozal]    Script Date: 27.03.2026 14:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kinozal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Rating_ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kinozal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kinozal_Rating]    Script Date: 27.03.2026 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kinozal_Rating](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](70) NOT NULL,
	[Ticket_Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Kinozal_Rating] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seans]    Script Date: 27.03.2026 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seans](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kinozal_ID] [int] NOT NULL,
	[Film_ID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[Lenght] [time](7) NOT NULL,
 CONSTRAINT [PK_Seans] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seans_Seat]    Script Date: 27.03.2026 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seans_Seat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Seans_ID] [int] NOT NULL,
	[Seat_ID] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Seans_Seat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 27.03.2026 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kinozal_ID] [int] NOT NULL,
	[Row] [int] NOT NULL,
	[Number] [int] NOT NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 27.03.2026 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Seat_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Seans_ID] [int] NOT NULL,
	[Ticket_Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27.03.2026 14:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Passworg] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](170) NOT NULL,
	[birthday] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Age_Rating] ON 

INSERT [dbo].[Age_Rating] ([ID], [Min_Age]) VALUES (1, N'0+')
INSERT [dbo].[Age_Rating] ([ID], [Min_Age]) VALUES (2, N'6+')
INSERT [dbo].[Age_Rating] ([ID], [Min_Age]) VALUES (3, N'12+')
SET IDENTITY_INSERT [dbo].[Age_Rating] OFF
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([ID], [Age_Rating_ID], [Rating], [Image_path], [Name], [Start_date], [Description]) VALUES (1, 4, CAST(4.50 AS Decimal(5, 2)), N'\Images\p1.jpg', N'Перминов в кино', CAST(N'2025-10-01T00:00:00.000' AS DateTime), N'Приключения супермена, теперь не только в КИПФИН, но ещё и в кино')
INSERT [dbo].[Film] ([ID], [Age_Rating_ID], [Rating], [Image_path], [Name], [Start_date], [Description]) VALUES (3, 3, CAST(1.20 AS Decimal(5, 2)), N'\Images\jocker_1.jpg', N'Джокер (2024)', CAST(N'2024-07-13T00:00:00.000' AS DateTime), N'Джокер наводит суету, успейте посмотреть')
INSERT [dbo].[Film] ([ID], [Age_Rating_ID], [Rating], [Image_path], [Name], [Start_date], [Description]) VALUES (4, 3, CAST(5.00 AS Decimal(5, 2)), N'\Images\jocker.jpg', N'Джокер (2026)', CAST(N'2026-01-26T00:00:00.000' AS DateTime), N'Ремейк легендарного фильма')
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
SET IDENTITY_INSERT [dbo].[Film_Genre] ON 

INSERT [dbo].[Film_Genre] ([ID], [Film_ID], [Genre_ID]) VALUES (1, 3, 4)
INSERT [dbo].[Film_Genre] ([ID], [Film_ID], [Genre_ID]) VALUES (2, 4, 4)
INSERT [dbo].[Film_Genre] ([ID], [Film_ID], [Genre_ID]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[Film_Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([ID], [Name]) VALUES (1, N'Триллер')
INSERT [dbo].[Genre] ([ID], [Name]) VALUES (2, N'Хоррор')
INSERT [dbo].[Genre] ([ID], [Name]) VALUES (3, N'Фантастика')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Kinozal] ON 

INSERT [dbo].[Kinozal] ([ID], [Rating_ID], [Name]) VALUES (1, 1, N'Аметистовый')
INSERT [dbo].[Kinozal] ([ID], [Rating_ID], [Name]) VALUES (2, 1, N'Брилльянтовый')
INSERT [dbo].[Kinozal] ([ID], [Rating_ID], [Name]) VALUES (3, 2, N'Золотой')
SET IDENTITY_INSERT [dbo].[Kinozal] OFF
GO
SET IDENTITY_INSERT [dbo].[Kinozal_Rating] ON 

INSERT [dbo].[Kinozal_Rating] ([ID], [Category], [Ticket_Price]) VALUES (1, N'Базовый', CAST(400.00 AS Decimal(10, 2)))
INSERT [dbo].[Kinozal_Rating] ([ID], [Category], [Ticket_Price]) VALUES (2, N'Люкс', CAST(650.00 AS Decimal(10, 2)))
INSERT [dbo].[Kinozal_Rating] ([ID], [Category], [Ticket_Price]) VALUES (3, N'Императорский', CAST(1200.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Kinozal_Rating] OFF
GO
SET IDENTITY_INSERT [dbo].[Seans] ON 

INSERT [dbo].[Seans] ([ID], [Kinozal_ID], [Film_ID], [StartTime], [Lenght]) VALUES (1, 1, 4, CAST(N'2026-02-14T00:00:00.000' AS DateTime), CAST(N'02:13:00' AS Time))
INSERT [dbo].[Seans] ([ID], [Kinozal_ID], [Film_ID], [StartTime], [Lenght]) VALUES (4, 4, 4, CAST(N'2026-02-15T00:00:00.000' AS DateTime), CAST(N'02:15:00' AS Time))
INSERT [dbo].[Seans] ([ID], [Kinozal_ID], [Film_ID], [StartTime], [Lenght]) VALUES (5, 1, 4, CAST(N'2026-02-14T15:00:00.000' AS DateTime), CAST(N'01:58:30' AS Time))
SET IDENTITY_INSERT [dbo].[Seans] OFF
GO
SET IDENTITY_INSERT [dbo].[Seans_Seat] ON 

INSERT [dbo].[Seans_Seat] ([ID], [Seans_ID], [Seat_ID], [Status]) VALUES (5, 1, 4, 1)
INSERT [dbo].[Seans_Seat] ([ID], [Seans_ID], [Seat_ID], [Status]) VALUES (7, 1, 6, 1)
INSERT [dbo].[Seans_Seat] ([ID], [Seans_ID], [Seat_ID], [Status]) VALUES (8, 1, 7, 1)
SET IDENTITY_INSERT [dbo].[Seans_Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([ID], [Kinozal_ID], [Row], [Number]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Seat] ([ID], [Kinozal_ID], [Row], [Number]) VALUES (2, 1, 1, 2)
INSERT [dbo].[Seat] ([ID], [Kinozal_ID], [Row], [Number]) VALUES (3, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([ID], [Seat_ID], [User_ID], [Seans_ID], [Ticket_Price]) VALUES (27, 13, 3, 1, CAST(400.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Login], [Passworg], [Name], [email], [birthday]) VALUES (2, N'Goida', N'Goida', N'Goida', N'goida@gmail.com', CAST(N'2022-02-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([ID], [Login], [Passworg], [Name], [email], [birthday]) VALUES (3, N'фыв', N'1234', N'фыв', N'фыв', CAST(N'2026-02-13T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([ID], [Login], [Passworg], [Name], [email], [birthday]) VALUES (4, N'Dmitry0752', N'12345678', N'Дмитрий', N'234808@edu.fa.ru', CAST(N'2007-05-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD  CONSTRAINT [FK_Film_Age_Rating] FOREIGN KEY([Age_Rating_ID])
REFERENCES [dbo].[Age_Rating] ([ID])
GO
ALTER TABLE [dbo].[Film] CHECK CONSTRAINT [FK_Film_Age_Rating]
GO
ALTER TABLE [dbo].[Film_Genre]  WITH CHECK ADD  CONSTRAINT [FK_Film_Genre_Film] FOREIGN KEY([Film_ID])
REFERENCES [dbo].[Film] ([ID])
GO
ALTER TABLE [dbo].[Film_Genre] CHECK CONSTRAINT [FK_Film_Genre_Film]
GO
ALTER TABLE [dbo].[Film_Genre]  WITH CHECK ADD  CONSTRAINT [FK_Film_Genre_Genre] FOREIGN KEY([Genre_ID])
REFERENCES [dbo].[Genre] ([ID])
GO
ALTER TABLE [dbo].[Film_Genre] CHECK CONSTRAINT [FK_Film_Genre_Genre]
GO
ALTER TABLE [dbo].[Kinozal]  WITH CHECK ADD  CONSTRAINT [FK_Kinozal_Kinozal_Rating] FOREIGN KEY([Rating_ID])
REFERENCES [dbo].[Kinozal_Rating] ([ID])
GO
ALTER TABLE [dbo].[Kinozal] CHECK CONSTRAINT [FK_Kinozal_Kinozal_Rating]
GO
ALTER TABLE [dbo].[Seans]  WITH CHECK ADD  CONSTRAINT [FK_Seans_Film] FOREIGN KEY([Film_ID])
REFERENCES [dbo].[Film] ([ID])
GO
ALTER TABLE [dbo].[Seans] CHECK CONSTRAINT [FK_Seans_Film]
GO
ALTER TABLE [dbo].[Seans]  WITH CHECK ADD  CONSTRAINT [FK_Seans_Kinozal] FOREIGN KEY([Kinozal_ID])
REFERENCES [dbo].[Kinozal] ([ID])
GO
ALTER TABLE [dbo].[Seans] CHECK CONSTRAINT [FK_Seans_Kinozal]
GO
ALTER TABLE [dbo].[Seans_Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seans_Seat_Seans] FOREIGN KEY([Seans_ID])
REFERENCES [dbo].[Seans] ([ID])
GO
ALTER TABLE [dbo].[Seans_Seat] CHECK CONSTRAINT [FK_Seans_Seat_Seans]
GO
ALTER TABLE [dbo].[Seans_Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seans_Seat_Seat] FOREIGN KEY([Seat_ID])
REFERENCES [dbo].[Seat] ([ID])
GO
ALTER TABLE [dbo].[Seans_Seat] CHECK CONSTRAINT [FK_Seans_Seat_Seat]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Kinozal2] FOREIGN KEY([Kinozal_ID])
REFERENCES [dbo].[Kinozal] ([ID])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Kinozal2]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Seans] FOREIGN KEY([Seans_ID])
REFERENCES [dbo].[Seans] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Seans]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Seat] FOREIGN KEY([Seat_ID])
REFERENCES [dbo].[Seat] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Seat]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Users]
GO
USE [master]
GO
